body, h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
}

.width-35 {
    width: 35%;
}

.width-65 {
    width: 65%;
}

.width-100 {
    width: 100%;
    max-width: 100%;
}

.height-100 {
    height: 100%;
}

.outline-border {
    border: 0.1rem solid purple;
    margin: 0.2rem;
}

.flex-occupy {
    flex-grow: 1;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.landmark {
    position: absolute;
    width: 24px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.map-container {
    position: relative;
    margin: 0;
    padding: 0;
}

.globe-overlay {
    position: absolute;
    top: 0.2em;
    right: 0.2rem; 
    color: #fff;
    /* https://stackoverflow.com/a/4772914 */
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 0.2rem;
 }

.map-overlay {
   position: absolute;
   top: 10px;
   left: 10px; 
    
   padding: 5px;
   background-color: white;
   border: 2px solid yellow;
}

.landmark-info {
    background-color: white;
    border: 2px solid black;
    padding: 8px;
    width: 100%;
    height: 100%;
}

.timeline {
    width: 100%;
    background-color: blue;
    height: 4px;
}

.timeline-item-top, .timeline-item-bottom {
    border: 0.2rem solid black;
    padding: 1rem;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 15%;
    width: 15%;
    text-align: center;
    font-size: large;
}

.selected-item {
    border: 0.2rem solid green !important;
    font-weight: bold !important;
    background-color: green !important;
    color: white !important;
}

/* https://stackoverflow.com/questions/60344739/div-with-arrow-up-on-top-of-div-and-box-positioning */
.timeline-item-top:before {
    content: "";
    display: block;
    position: absolute;
    right: 45%;
    bottom: -20px;
    border-top: 20px solid #000;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

.timeline-item-bottom:before {
    content: "";
    display: block;
    position: absolute;
    right: 45%;
    top: -20px;
    border-bottom: 20px solid #000;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

.timeline-row {
    padding: 2rem;
}

.timeline-separator {
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 0.2rem;
    background-color: blue;
}

.timeline-row-inner {
    position: relative;
}

.information-box {
    padding: 1rem;
}

.information-box-sig {
    font-style: italic;
    margin-bottom: 0.3rem;
}

.information-box-normal {
    display: block;
    margin-bottom: 0.1rem;
}

.input-row {
    align-items: center;
    padding: 0.2rem;
    font-size: large;
}

.input-name {
    padding-right: 0.2rem;
}

select {
    font-size: inherit;
}

.margin-b {
    margin-bottom: 1rem;
}

.flex-split {
    justify-content: space-between;
}

h1 {
    font-size: 3em;
}

.responsive-image {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.img-container {
    flex: 1;
    justify-content: end;
}

.flex-center {
    justify-content: center;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

.inner-border {
    box-sizing: border-box;
}

.treemap-cell {
    border: 1px darkred solid;
    padding: 0.2rem;
    box-sizing: border-box;
    overflow: hidden;
    border-collapse: collapse;
    margin-right: 0.2rem;
    margin-bottom: 0.2rem;
    font-weight: 600;
}

.spaced {
    justify-content: space-around;
}