/* Inspired by TailwindCSS */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

h1 {
  margin-bottom: 0.3rem;
}

h2 {
  margin-bottom: 0.2rem;
}

h3, h4 {
  margin-bottom: 0.2rem;
}

/*
Map Display
-----------
- Want the map to have an overlayed div so they can select a region
*/

.map-overlay {
  background: rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.arrow-main-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  /* margin-left: -2.5%;
  margin-top: -1.5%; */
}

.arrow-horizontal-div {
  width: 100%;
  display: flex;
  color: blueviolet;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.selected-region {
  background: rgba(255, 255, 255, 0.75);
  position: absolute;
}

input[type=number] {
  width: 4rem;
  text-align: center;
}

input[type=checkbox] {
  width: 1rem;
  height: 1rem;
}

input, select {
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  margin-top: 0.2rem;
}

.map-display {
  max-width: 100%;
  max-height: 80vh;
}

.map-container-3d {
  padding: 4rem;
}

.width-75 {
  width: 75%;
}

.width-25 {
  width: 25%;
}

.width-50 {
  width: 50%;
}

.height-100 {
  height: 100vh;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.2rem;
}

.input-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.input-help {
  font-size: small;
  font-style: italic;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-center {
  margin: auto;
}

.flex-center-vertical {
  margin-top: auto;
  margin-bottom: auto;
}

.flex-between {
  justify-content: space-between;
}

.cover {
  object-fit: cover;
}

.options-sticky {
  position: sticky;
  top: 0;
}

.render-all-button {
  font-size: x-large;
  padding: 0.4rem;
  border: 0.2rem darkgreen solid;
  font-weight: 700;
}

.contained {
  border: 1px solid black; 
  padding: 0.3rem;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}

.options-panel, .plots-panel {
  padding: 0.3rem;
}

.options-panel {
  border-left: 0.2rem black solid;
  position: sticky;
  top: 0;
}

.plot-panel {
  border-bottom: 0.2rem black solid;
  padding-bottom: 0.5rem;
}

.plot-panel:last-of-type {
  border-bottom: 0;
}

.bottom-panel {
  margin-top: 0.5rem;
}

.segment-panel {
  padding: 0.5rem;
  box-sizing: border-box;
}

.segment-panel:last-of-type {
  border-left: 0.2rem solid black;
}

.description-panel {
  margin-bottom: 0.5rem;
}

.input-row > span {
  margin-right: 0.2rem;
}

.arrow-button {
  width: auto;
  align-self: center;
  font-size: x-large;
  padding: 0.2rem
}

.loading-div {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80vh;
  justify-content: center;
  align-items: center;
  font-style: italic;
}

.loading-title {
  font-size: x-large;
  margin-bottom: 1rem;
}